*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader{
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    background-color: rgb(225, 225, 225, 0.7);
}